.details {
    height: 100%;
    display: grid;
    place-items: center;
    text-align: center;


    &-main {
        margin-top: 20px;
        img {
            width: 180px;
            border-radius: 50px;
        }
        h2 {
            font-size: 3.0rem;
        }
    }

    &-general {
        text-align: left;
        h3 {
            font-size: 2.0rem;
        }
        span {
            font-size: 1.5rem;
        }
    }
}